/** GENERAL **/
body {
	font-family: Verdana, sans-serif;
	background-color:gray;
	min-height: 740px;
	-webkit-font-smoothing: antialiased;
	
}

/** STEP STYLES **/
.step {
	width: 700px;
    height: 800px;

	display: block;
    padding: 100px;
    
	background-color:rgba(0,0,0,0);
	border: none;
	/**
	border: 10px solid black;
	background-color: #FFF;
	**/

	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;
}
p {
	font-size: 35px;
	font-family: Cambria Math;
}

input {
	height: 50px;
	font-size: 50px;
}

li {
	font-size: 75px;
	font-family: Cambria Math;
}

#front {
	background-image: url('wallpaper.jpg');
	width: 20000px;
    height: 12000px;
	background-color:rgba(0,0,0,0);
	border: none;
	pointer-events: none;
}

#bottom {
	background-color:rgba(0,0,0,0);
	border: none;
}

#desk {
	width: 5000px;
    height: 1500px;
    pointer-events: none;
    background-image:url('wood.jpg');

}
#blank {
	width: 700px;
    height: 700px;
    pointer-events: none;
    

}
#title {
	height: 1000px;
	width: 1000px;
	background-color:rgba(0,0,0,0);
	border: none;
	background-image:url('office1.jpg');
	
}

.info {
	background-color:rgba(255,255,255,0.7);
	border: 2px solid gray;
	position: absolute;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#info1 {
	right: 600px;
	top: -300px;
	position: absolute;
}
#info2 {
	width: 1400px;
    height: 775px;
	right: -1800px;
	top: -100px;
}
#info3 {
	width: 1200px;
    height: 800px;
	right: -1850px;
	top: -100px;
}

#info6 {
	width: 1400px;
    height: 1000px;
	right: -1800px;
	top: 150px;
}

#info7 {
	width: 1200px;
    height: 1200px;
	right: -1600px;
	top: 50px;
}

#info11 {
	width: 1200px;
    height: 1200px;
	right: -1550px;
	top: -150px;
}

#info12 {
	width: 1200px;
    height: 1000px;
	right: 675px;
	top: 250px;
}

#info13 {
	width: 1200px;
    height: 1000px;
	right: -900px;
	top: 50px;
}

#nav1 {
	top: 500px;

}

.nav li {
	font-size: 25px;
	font-family: Cambria Math;

}

#front1 {
	left: -300px;
	
}

#front2 {
	left: -1000px;
	
}
#front3 {
	left: -800px;
	
}

#front6 {
	left: -800px;
	top: -150px;
	
}

#front7 {
	left: -600px;
	top: -250px;
	
}

#front8 {
	left: 75px;
	top: -320px;
	
}

#front11 {
	left: -600px;
	
}

#front12 {
	left: 200px;
	top: -350px;
	
}

#front13 {
	left: -600px;
	top: -250px;
	
}
/** ANIMATION **/

.will-fade {
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-ms-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;

opacity: 0;
}
.fade, .not-supported .will-fade {
opacity: 1;
}

.do-fade, .do-fade-slow, .do-fade-fast {
    opacity: 1;
}
.has-fade {
    opacity: 0;
}
.step.nested-active, .step.active, .step.active .step { opacity: 1 }
}

.nav.jmpress {
width: 600px;
height: 400px;
background: #F29E88;
border: 5px solid #525855;
border-radius: 5px;
}

.nav.jmpress section {
width: 700px;
height: 500px;
padding: 25px;
margin-bottom: 30px;
margin-top: -10px;
-webkit-transition: 1s;
-moz-transition: 1s;
-ms-transition: 1s;
-o-transition: 1s;
transition: 1s;

/*background-color: #B2342C;*/
background-color: gray;
border: 2px solid gray;
border-radius: 5px;
overflow: visible!important;
color: #1E0403;

cursor: pointer;
}

.nav.jmpress section.active {
color: #1E0403;

cursor: inherit;
}

.nav.jmpress section p {
-webkit-transition: 1s;
-moz-transition: 1s;
-ms-transition: 1s;
-o-transition: 1s;
transition: 1s;
}

.nav.jmpress section:not(.active) p {
/*font-size: 6pt;*/
/*opacity: 0;*/
}

.nav.jmpress section h1 {
-webkit-transition: 1s;
-moz-transition: 1s;
-ms-transition: 1s;
-o-transition: 1s;
transition: 1s;
}